@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* navbar1 start */
.navbar1{
    width: 100%;
    height: auto;
    border-bottom: 1px solid gray;
    padding: 20px;
}
.navbar1 img{
    width: 400px;
}
/* navbar1 end */

/* navbar2 start */
.navbar2{
    width: 100%;
    height: auto;
}
.navbar2 ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    padding-block: 30px;
    padding-inline:60px ;
    font-size: 1.2rem;
}
.navbar2 i{
    display: none;
}
/* navbar2 end */
/* navbar3 start */
.navbar3{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    padding-block: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.navbar3 .fa-bars{
    display: none;
}
.navbar3 a{
    margin-inline:10px ;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.navbar3 .input{
    margin-inline: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
}
.navbar3 .input input{
    border: none;
    font-size: 1.1em;
}
.navbar3 .input i{
    /* border: 1px solid red; */
    margin-inline: 10px;
}
.navbar3 .input input:focus{
    outline: none;
}
.navbar3  .fa-user{
    margin-inline: 10px;
    font-size: 1.5rem;
}
.navbar3 .fa-cart-shopping{
    font-size: 1.5rem;
    margin-inline: 10px;
}
/* navbar 3 end */

/* heading start */
h1{
    text-align: center;
    font-size: 4rem;
}
/* heading end */
.hero{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    padding-inline: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .hero-sub{
    background-color: #EEEEEE;
    width: 90%;
    /* border: 1px solid black; */
    padding: 30px;
}
.hero .part1{
    height: 400px;
    width: 100%;
    /* border: 1px solid red; */
}
.hero .part1 img{
    width: 100%;
    height: 100%;
}
.hero .part2{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4);
    grid-template-rows: repeat(3);
    column-gap: 40px;
    row-gap: 90px;
    margin-top: 90px;
    padding-inline: 40px;
}
#b1{
    grid-row: 1/2; 
    grid-column: 1/2;
}
#b2{
    grid-row: 1/2; 
    grid-column: 2/3;
}
#b3{
    grid-row: 1/2; 
   grid-column: 3/4;
}
#b4{
   grid-row: 1/2; 
   grid-column: 4/5;
}
#b5{
   grid-row: 2/3; 
   grid-column: 1/2;
}
#b6{
    grid-row: 2/3; 
    grid-column: 2/3;
}
#b7{
    grid-row: 2/3; 
    grid-column: 3/4;
}
#b8{
    grid-row: 2/3; 
    grid-column: 4/5;
}
#b9{
    grid-row: 3/4; 
    grid-column: 1/2;
}
#b10{
   grid-row: 3/4; 
   grid-column: 2/3;
}
#b11{
    grid-row: 3/4; 
    grid-column: 3/4;
}
#b12{
    grid-row: 3/4; 
    grid-column: 4/5;
}
.part2 .box1{
    width: 250px;
    height: 300px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.part2 .box1 button{
    margin-right: 50%;
    background-color: black;
    color: white;
    padding-inline: 35px;
    padding-block: 5px;
    border: none;
}
.part2 .box1 img{
    width:100%;
    height: 75%;
}
.part2 .box1 a{
    color: black;
    text-align: center;
}
.hero .part3{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.hero .part3 button{
    background-color: black;
    color: white;
    padding-inline: 50px;
    padding-block: 10px;
    border: none;
    margin-inline: 30px;
}
/* hero end */
/* lists start */
.lists{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 30px;
    padding-block: 100px;
    background-color: #EEEEEE;
}
.lists ul{
    font-size: 1.3rem;
    list-style: none;
}
.lists ul:nth-child(2){
    list-style: disc;
}
/* lists end*/
/* brands start */
.brands{
    width: 100%;
    height: auto;
    background-color: #EEEEEE;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.brands img:nth-child(2){
    width: 200px;
}
.sub-brand1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sub-brand1 img{
    margin: 20px;
}
.brands .sub-brand1 img:first-child{
    width: 200px;
}
.sub-brand2 img{
    margin: 20px;
}
.sub-brand2{
    display: flex;
    flex-direction: column;
}
.brands .sub-brand2 img:first-child{
    width: 400px;
}
.brands .sub-brand2 img:last-child{
    width: 350px;
}
/* brands end */
/* footer start */
.footer{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px;
    font-size: 1.1rem;
    background-color: #EEEEEE;
    margin-bottom: 100px;
}
/* footer end */
.fixedfooter{
    width: 100%;
    height: auto;
    padding-inline:10px ;
    padding-block: 30px;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: #309FCB;
    position: fixed;
    bottom: 0;
}
/* fixed footer end */
/* what start */
.what{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    position: fixed;
    right: 20px;
    bottom: 10%;
    
}
.what img{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}
/* Responsive code */

@media (max-width:768px) {
    .navbar2 {
        display: none;
    }
    .navbar3 .input{
        display: none;
    }
    .navbar3 a{
        display: none;
    }
    .navbar3 .fa-bars{
        display: inline;
        margin-inline: 10px;
        font-size: 1.5rem;
    }
    .hero .part1{
        height: 300px;
    }
    
    .hero .part2{
        /* width: 100%;
        height: auto; */
        display: grid;
        grid-template-columns: repeat(1);
        grid-template-rows: repeat(12);
        column-gap: 0;
        row-gap: 90px;
        margin-top: 90px;
        padding-inline: 40px;
        /* border: 1px solid red; */
    }
    .part2 .box1{
        /* border: 1px solid red; */
        width: 100%;
        height: 400px;
    }
    #b1{
        grid-row: 1/2; 
        grid-column: 1/2;
    }
    #b2{
        grid-row: 2/3; 
        grid-column: 1/2;
    }
    #b3{
        grid-row: 3/4; 
        grid-column: 1/2;
    }
    #b4{
        grid-row: 4/5; 
        grid-column: 1/2;
    }
    #b5{
        grid-row: 5/6; 
        grid-column: 1/2;
    }
    #b6{
        grid-row: 6/7; 
        grid-column: 1/2;
    }
    #b7{
        grid-row: 7/8; 
        grid-column: 1/2;
    }
    #b8{
        grid-row: 8/9; 
        grid-column: 1/2;
    }
    #b9{
        grid-row: 9/10; 
        grid-column: 1/2;
    }
    #b10{
        grid-row: 10/11; 
        grid-column: 1/2;
    }
    #b11{
        grid-row: 11/12; 
        grid-column: 1/2;
    }
    #b12{
        grid-row: 12/13; 
        grid-column: 1/2;
    }
    .hero .part3 button{
        margin-inline: 5px;
    }
    .lists ul{
        margin: 20px;
        font-size: 0.8rem;
        list-style: none;
    }
    .brands .sub-brand1 img:first-child{
        width: 150px;
    }
    .brands .sub-brand1 img:last-child{
        width: 150px;
    }
    .brands .sub-brand2 img:first-child{
        width: 150px;
    }
    .brands .sub-brand2 img:last-child{
        width: 150px;
    }
}
@media (max-width:480px){
    .navbar1 img {
        width: 300px;
    }
    .hero .hero-sub{
        width: 100%;
    }
    .hero{
        padding-inline: 30px;
    }
    .fixedfooter{
        padding-block: 20px;
        font-size: 1rem;
    }
    .footer{
        padding-block: 20px;
        font-size: 1rem;
    }
    .footer p br{
        display: none;
    }
    
}